* {
    padding: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
}

:root[data-theme=light] {
    --background-color: hsl(0, 0%, 100%);
    --button-color: hsl(0, 0%, 0%);
    --button-text: hsl(0, 0%, 99%);
    --main-text: hsl(0, 0%, 9%);
    --qr-color: hsl(0, 0%, 0%);
}

:root[data-theme=dark] {
    --background-color1: hsl(0, 0%, 7%);
    --background1: hsl(243, 100%, 7%);
    --button-color1: linear-gradient(90deg, rgba(255,142,142,1) 0%, rgba(222,130,255,1) 100%);
    --button-text1: hsl(0, 0%, 100%);
    --main-text1: hsl(175, 5%, 80);
    --qr-color1: hsl(175, 5%, 97%);
}