* {
    padding: 0;
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
}

:root[data-theme=light] {
    --background-origin: hsl(0, 0%, 100%);
    --text-color:hsl(0, 0%, 3%);
    
}

:root[data-theme=dark] {
    --background-origin:hsl(0, 1%, 23%);
    --main-color: hsl(0, 0%, 15%);
    --button-color: hsl(0, 44%, 100%);
    --text-color: hsl(175, 5%, 99%);

}